<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>

    <h2>Recuperação de senha</h2>

    <p>
        Olá <strong>{{ user.username }}</strong>,
    </p>

    <p>
        Recebemos uma solicitação para redefinir sua senha.
    </p>

    <p>
        Clique no botão abaixo:
    </p>

    <p>
        <a href="{{ reset_url }}">
            Redefinir senha
        </a>
    </p>

    <p>
        Caso você não tenha solicitado esta alteração,
        apenas ignore este e-mail.
    </p>

    <hr>

    <p>
        Equipe ApexPlan
    </p>

</body>
</html>